body{
  background-color: lightgrey;
}

.container{
  text-align: center;
}

.row{
  padding-top: 50px;
  text-align: center;
}

.row [class*="col-"]{
  height: 100%;
  float: left;
  text-align: center;
  padding: 0 10px;
}

div.row div:first-of-type{
  padding-bottom: 25px;
  text-align: center;
}

.lezioni{
  background-color: rgb(242, 164, 99);
}

.lezioni img{
  width: 50%;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
}

.steps{
  background-color: rgb(104, 218, 114);
}

.steps img{
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
  text-align: center;
}

.why{
  background-color: rgb(95, 234, 235);
}

.why img{
  background-color: #428bca;
  border-radius: 50%;
  height: 50%;
  width: 30%;
  padding: 30px;
  margin-right: auto;
  margin-left: auto;
}

.why div{
  margin-bottom: 25px;
}

h1:hover, h3:hover{
  cursor: pointer;
  text-decoration: underline;
}

h1, h3{
  background-color: lightgrey;
  box-shadow: 5px 5px black;
  margin: 10px 0;
}
